:root {
  --gold: #dfbd00;
  --black: rgb(12, 12, 5);
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);
  background-image: url(img/bg3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;

  min-height: 1440px;
  height: 100%;
  /* max-width: 1180px; */
  width: 100%;
  
}

.additional-h5{
  margin-bottom: 20px;
}

.recruitment-div {
  display: flex;
}

.recruitment-sumbit-button {
  margin-left: 20% !important;
}

.labels {
  font-size: 1.6rem !important;
}

.recruitment-character-info {
  width: 65%;
  margin-left: 3%;
}

.recruitment-info {
  width: 45%;
  margin-left: 30px !important;
}

.recruitment-checkboxes {
display: flex;
align-items: flex-start;
margin-bottom: 50px;
margin-left: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.Top-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1600px;

}

.Header {
  margin-top: 61px;
  justify-content: center;
  
  max-width: 1440px;
  max-height: 300px;
  width: 100%;
  display: flex;
  /* margin-left: 5%; */
}
.Header-Img {
  margin-top: 2px;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
}

.nav-h {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
  background: var(--black);
  color: white;
  font-size: 1rem;
  /* border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold); */
  width: 12.5%;
  padding: 12px;
  text-align: center;
  /* margin-left: 15px; */
  /* margin-bottom: 15px; */
}

.nav-h1, .nav-h2, .nav-h3, .nav-h4 {
  display: flex;
  opacity: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: 1px;
  text-decoration: none;
  background: var(--black);
  color: #FFFFFF;
  font-size: 1rem;
  /* border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold); */
  width: 12.5%;
  padding: 12px;
  text-align: center;
  margin-left: 15px;
  /* margin-bottom: 15px; */
}

.nav-end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5px;
  text-decoration: none;
  background: var(--black);
  color: white;
  font-size: 1.4rem;
  /* border: 1px solid #dfbd00; */
  width: 15.5%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 15px;
  /* margin-bottom: 5px; */
}

.nav-h:hover, .nav-h1:hover, .nav-h2:hover, .nav-h3:hover, .nav-h4:hover{
  background: #FFFFFF;
  color: #dfbd00;
  border-bottom: 2px solid var(--gold);
  opacity: 100%;
  /* margin-bottom: -0.6px; */
  cursor: pointer;
  /* -moz-box-shadow:    inset 2px 2px 2px #000000;
  -webkit-box-shadow: inset 2px 2px 2px #000000;
  box-shadow:         inset 2px 2px 2px #000000; */
}

.Nav-container {
  opacity: 92%;
  background: var(--black);
  justify-content: space-between;
  max-width: 1440px;
  height: 56px;
  width: 100%;
  /* margin-top:10px; */
   border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold);
  /* padding-top: 10px; */
  padding-bottom: 0px;
  /* padding-bottom: 10px; */
  display: flex;
  /* margin-left: 5%; */
  position: fixed;
  z-index: 10;
}


 .Landing-Container {
   margin-top: 50px;
   min-height: 1920px;
   max-width: 1440px;
   width: 100%;
   display: flex;
   flex-direction: row;

 }

 .recruit-container {
   /* max-width: 360px; */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   z-index: 1;
 }
 .recruit-card {
   max-width: 360px;
   margin-bottom: 10px;
 }

 .Recruitment-Image {
   max-width: 360px;
   border: 1px solid var(--gold);
   /* align-self: flex-end; */
 }
 .news-container {
   /* margin-left: 10%; */
   width: 100%;
   /* border: 1px solid var(--gold); */
 }

 .news-img {
  margin-bottom: 40px;
   max-height: 40px;
 }

 .news-post {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .news-post-h {
  color: white;
  max-width: 40%;
 }

 .news-post-p {
   color: white;
   font-size: 1.3rem;
   max-width: 60%;
   padding: 20px;
 }

