:root {
  --gold: #dfbd00;
  --black: rgb(12, 12, 5);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);



.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);
  background-image: url(img/bg3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;

  min-height: 1440px;
  height: 100%;
  /* max-width: 1180px; */
  width: 100%;
  
}
.App-contact {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  background-color: var(--black);
  background-image: url(img/bg3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;

  min-height: 1440px;
  height: 100%;
  /* max-width: 1180px; */
  width: 100%;
}

.contact-h1 {
  margin-top: 140px;
  color: white;
  text-decoration: underline;
}

.contact-li {
  font-size: 1.4rem;
  color: white;
  margin-bottom: 20px;
  height: 40px;
  text-align: center;
}

.contact-div {
  text-align: center;
}

.contact-why {
  max-width: 600px;
  margin-top: 110px;
  color: white;
  font-size: 1.4rem;
}

.contact-p {
  justify-content: center;
  display: flex;
  height: 35px;
  
}

.contact-img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.App-recruitment {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  min-height: 1440px;
  height: 100%;
  /* max-width: 1180px; */
  width: 100%;
  
}

.additional-h5{
  margin-bottom: 20px;
  margin-left: 3%;
}

.App-landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  background-color: var(--black);

  /* background-position: top center; */
  
  max-height: 2940px !important;
  /* height: 100%; */
  max-width: 2270px !important;
  width: 100%;
}

.landing-arch-container {
  height: 100%;
  max-height: 2520px;
  display: flex;
  /* max-width: 1960px;
  width: 100%;
  flex-direction: row; */
}

.landing-img-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 900px;
  /* position: relative; */
}

.landing-left-img{
  /* margin-top: 25%; */
  width: 945px !important;
  height: 100%;
  border-bottom: 2px solid var(--gold);
}
.landing-right-img{
  /* margin-top: 25%; */
  width: 945px !important;
  height: 100% !important;
  border-bottom: 2px solid var(--gold);
}


.landing-inner {
  width: 50%;
  left: 0%;
  position: absolute;
  justify-items: center;
}

.landing-inner-left {
  opacity: 100%;
}

.left-text {
  margin-top: -45%;
  margin-bottom: 35%;
  font-size: 2.2rem;
  color: var(--gold);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}
.left-button {
  text-decoration: none;
  left: 37%;
  height: 80px;
  width: 250px;
  text-decoration-color: white ;
  font-size: 1.5rem ;
  border: 0px;
	transition: all 0.5s;
  position: relative;
  border-radius: 15px 50px 30px;
}

.left-button:hover {
background-color: black;
color: var(--gold);
}

.right-button {
  text-decoration: none;
  left: 110%;
  height: 80px;
  width: 250px;
  text-decoration-color: white ;
  font-size: 1.5rem ;
  border: 0px;
	transition: all 0.5s;
  position: relative;
  border-radius: 15px 50px 30px;
}

.right-button:hover {
background-color: black;
color: var(--gold);
}

.recruitment-div {
  display: flex;
  width: 100%;
  margin-left: 25%;
  max-width: 1600px;
  justify-self: center;
}



.labels {
  font-size: 1.6rem !important;
}

.recruitment-character-info {
  width: 70%;
  /* margin-left: 3%; */
}

.recruitment-raid-table {
  max-width:375px;
  text-align: center !important;
 }




.recruitment-info {
  width: 45%;
  margin-left: 3%;
  background-color: white ;
}

.recruitment-checkboxes {

  max-width: 1600px;
  display: flex;
justify-content: center;
margin-bottom: 50px;
/* margin-left: 29% !important; */
}


.Top-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1600px;
}

.top-container-recruit {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1600px;

}

.Header {
  margin-top: 61px;
  justify-content: center;
  
  max-width: 1440px;
  max-height: 300px;
  width: 100%;
  display: flex;
  /* margin-left: 5%; */
}
.Header-Img {
  margin-top: 2px;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
}

.nav-h {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
  background: var(--black);
  color: white;
  font-size: 1rem;
  /* border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold); */
  width: 12.5%;
  padding: 12px;
  text-align: center;
  margin-left: 2px;
  /* margin-bottom: 15px; */
}

.nav-h1, .nav-h2, .nav-h3, .nav-h4 {
  display: flex;
  opacity: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: 1px;
  text-decoration: none;
  background: var(--black);
  color: #FFFFFF;
  font-size: 1rem;
  /* border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold); */
  width: 12.5%;
  padding: 12px;
  text-align: center;
  margin-left: 15px;
  /* margin-bottom: 15px; */
}

.nav-end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5px;
  text-decoration: none;
  background: var(--black);
  color: white;
  font-size: 1.4rem;
  /* border: 1px solid #dfbd00; */
  width: 15.5%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 15px;
  /* margin-bottom: 5px; */
}

.nav-h:hover, .nav-h1:hover, .nav-h2:hover, .nav-h3:hover, .nav-h4:hover{
  background: #FFFFFF;
  color: #dfbd00;
  border-bottom: 4px solid var(--gold);
  opacity: 100%;
  /* margin-bottom: -0.6px; */
  cursor: pointer;
  /* -moz-box-shadow:    inset 2px 2px 2px #000000;
  -webkit-box-shadow: inset 2px 2px 2px #000000;
  box-shadow:         inset 2px 2px 2px #000000; */
}

.Nav-container {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  /* opacity: 100%; */
  
  padding-bottom: 0px;
  /* margin-top:10px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* margin-left: 5%; */
  justify-content: center;
  background: var(--black);
  /* border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold); */
  height: 56px;
  position: fixed;
}

.nav-link-box {
  /* margin-left: 12%; */
  display: flex;
  max-width: 1440px;
  width: 1440px;
  /* flex-direction: row; */
  justify-content: space-between;
  /* margin-top:10px; */
  /* padding-top: 10px; */
  padding-bottom: 0px;
  /* padding-bottom: 10px; */
  /* margin-left: 5%; */
}


.nav-discord-logo {
  /* display: flex; */
  /* align-self: 14center; */
  width: 35px;
  height: 35px;
  /* margin-left: 7%; */
}
.nav-discord-logo-a {
  justify-content: flex-end;
  display: flex;
  align-self: center;
  width:10%;
  
}

 .Landing-Container {
   margin-top: 50px;
   min-height: 1920px;
   max-width: 1440px;
   width: 100%;
   display: flex;
   flex-direction: row;

 }


 .recruit-container {
   /* max-width: 360px; */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   z-index: 0;
   /* margin-top: 30px */
 }
 .recruit-card {
   max-width: 360px;
   margin-bottom: 10px;
 }

 .Recruitment-Image {
   max-width: 260px;
   border: 1px solid var(--gold);
   /* align-self: flex-end; */
 }
 .news-container {
   /* margin-left: 10%; */
   width: 100%;
   /* border: 1px solid var(--gold); */
 }

 .news-post-img {
   margin-bottom: 20px;
   max-width: 800px;
   max-height: 500px;
   transition: -webkit-transform 0.25s ease;
   transition: transform 0.25s ease;
 }

 /* .news-img {
   border-bottom: 5px solid white;
 } */

 .news-post-img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
 }

 .news-post {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .news-post-h {
  color: white;
  max-width: 55%;
  margin: 10px, 0px, 10px, 0px;
 }

 .news-post-a {
   color: white;
   margin-top: 0px;
   margin-bottom: 0px;
 }

 .news-post-p {
   color: white;
   font-size: 1.3rem;
   max-width: 53.7%;
 }

 .sales-arch-container {
background-color: #f0f0f0;
 }

.sales-container {
  margin-top: 80px;
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sales-info-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.sales-info-items {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin-left: 10%; 
  margin-right: 10%; 
}
.sales-info-mc {
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sales-info-ony {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

}


.sales-h3 {
  font-size: 1.6rem;
  text-align: center;
  text-decoration: underline;
}

.sales-h5 {
  text-decoration: underline;
  font-size: 1.2rem;
}

.sales-p {
  width: 90%;
  font-size: 1.1rem;
  max-width: 850px;
}

.sales-labels {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.4rem !important;
  text-align: center;
}

.sales-earth-cen {
  width: 100%;
  max-width: 850px;
  background-color: white;
}

.sales-select-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73%
}

.sales-mc-table {
  width: 400px !important;
}

.news-post-top-container {
  display: flex;
  min-width: 700px;
  width: 100%;
  justify-content: center;
}
.news-post-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.news-post-form-label {
font-size: 1.6rem !important;
}

.news-post-form-group {
  width: 100%;
}
.news-post-button {
  width: 25%;
  height: 40px;
  margin-left: 38% !important;
}
