:root {
  --gold: #dfbd00;
  --black: rgb(12, 12, 5);
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  /* background-image: url(img/bg1.png); */
  min-height: 1440px;
  height: 100%;
  /* max-width: 1180px; */
  width: 100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Top-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1480px;

}

.Header {
  margin-top: 71px;
  justify-content: center;
  
  max-width: 1480px;
  max-height: 300px;
  width: 100%;
  display: flex;
  /* margin-left: 5%; */
}
.Header-Img {
  margin-top: 2px;
  max-width: 1480px;
  width: 100%;
  justify-content: center;
}

.nav-h {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
  background: var(--black);
  color: white;
  font-size: 1rem;
  /* border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold); */
  width: 12.5%;
  padding: 12px;
  text-align: center;
  /* margin-left: 15px; */
  /* margin-bottom: 15px; */
}

.nav-h1, .nav-h2, .nav-h3, .nav-h4 {
  display: flex;
  opacity: 100%;
  align-items: center;
  justify-content: center;
  /* margin-top: 2px;
  margin-bottom: 2px; */
  text-decoration: none;
  background: var(--black);
  color: #FFFFFF;
  font-size: 1rem;
  /* border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold); */
  width: 12.5%;
  padding: 12px;
  text-align: center;
  margin-left: 15px;
  /* margin-bottom: 15px; */
}

.nav-end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5px;
  text-decoration: none;
  background: var(--black);
  color: white;
  font-size: 1.4rem;
  /* border: 1px solid #dfbd00; */
  width: 15.5%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 15px;
  /* margin-bottom: 5px; */
}

.nav-h:hover, .nav-h1:hover, .nav-h2:hover, .nav-h3:hover, .nav-h4:hover{
  background: #FFFFFF;
  color: #dfbd00;
  border-bottom: 2px solid var(--gold);
  opacity: 100%;
  /* margin-bottom: -0.6px; */
  cursor: pointer;
  /* -moz-box-shadow:    inset 2px 2px 2px #000000;
  -webkit-box-shadow: inset 2px 2px 2px #000000;
  box-shadow:         inset 2px 2px 2px #000000; */
}

.Nav-container {
  opacity: 92%;
  background: var(--black);
  justify-content: space-between;
  max-width: 1480px;
  height: 56px;
  width: 100%;
  margin-top:10px;
   border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold);
  /* padding-top: 10px; */
  padding-bottom: 0px;
  /* padding-bottom: 10px; */
  display: flex;
  /* margin-left: 5%; */
  position: fixed;
}

.Nav-container:hover {
  /* opacity: 100%; */
}

 .Landing-Container {
   /* margin-top: 50px; */
   min-height: 1920px;

 }